.enterprise-planSection {
   
    .enterprise-plan {
        padding: 5rem;
        background: #333;
        display: flex;
        justify-content: center;
       
        color: white;

        .enterprise-planText {
            margin: 0 auto;
            position: relative;

            h1 {
                position: relative;
                font-weight: lighter;
                font-size: 2.25rem;
                // margin-bottom: 0.25rem;

                &::after {
                    content: '';
                    position: absolute;
                    width: 12%;
                    height: 3px;
                    background: var(--orange-600);
                    bottom: -2px;
                    left: 0;
                }
            }

            span {
                font-weight: medium;
                line-height: 2.25rem;
                font-size: 1.25rem;
               
            }

            h2 {
                margin-top: 3.25rem;
                font-weight: lighter;
            }
            h2 + h2{
                margin-top:0.75rem; 
            }

            h2 + h2 + h2 {
                font-weight: bold;
            }


            &::after {
                content: '';
                position: absolute;
                background: linear-gradient(110deg, white 70%, var(--orange-600) 20%);
                width: 100%;
                height: 3px;
                bottom: 2rem;

            }
          
        }
        .enterprise-planImage {
            width: 379px;
            height: 533px;
            margin: 0 auto;
            margin-top: 6rem;
            opacity: 0.5;
            background-image: url('/public/img/planta1.png');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            position: relative;

            img {
                width: 50%;
                position: absolute;
                left: 25%;
                top: 30%;
                transition: 0.2s ease-in-out;

                &:hover {
                    width: 60%;
                    left: 19%;
                    top: 25%;                }
            }
        }
    }
}