#image {
    padding-top: 5rem;
    position: relative;

    .qr_gold-bg {
        position: absolute;
        height: 70%;
        width: 30.85vw;
        background: var(--green-100);
        clip-path: polygon(0 25%, 100% 25%, 100% 100%, 0 100%);
        left: 0;
        bottom: -1rem;

        @media (min-width: 2300px){
            width: 32.25vw;
        }

        @include mq('xl', max) {
            width: 30.4vw;
        }

        @media (min-width: 1400px) and (max-width: 1440px){
            width: 27.4vw;
        }

        @include mq('md', max){
            width: 26.3vw;
        }

        @include mq('sm', max){
            width: 34vw;
        }

        @media (max-width: 425px){
            width: 35.5vw;
        }

        @media (max-width: 375px){
            width: 40.4vw;
        }

        @media (max-width: 320px){
            width: 47.34vw;
            height: 41%;
        }
    }

    .box {

        &-carousel {

            .toleft,
            .toright,
            .resize {
                position: absolute;
                top: 45%;
                z-index: 2;
                cursor: pointer;
            }

            .toleft,
            .toright {
                background: var(--green-100);
                padding: 1rem;
                text-align: center;

                img {
                    width: 55%;
                }

                @include mq('xs', max) {
                    padding: .5rem;
                }
            }

            .toright {
                right: 9rem;

                @media (min-width: 1400px){
                    right: 11rem;
                }

                @include mq('md', max){
                    right: 1rem;
                }

                @include mq('xs', max) {
                    right: .5rem;
                }
            }

            .toleft{
                left: 9rem;

                @media (min-width: 1400px){
                    left: 11rem;
                }

                @include mq('md', max){
                    left: 1rem;
                }

                @include mq('xs', max) {
                    left: .5rem;
                }
            }

            .resize {
                top: 1rem;
                right: 9rem;
                text-align: right;
                bottom: unset;

                img {
                    width: 60%;

                    @include mq('xs', max){
                        width: 40%;
                    }
                }

                @media (min-width: 1400px){
                    right: 11rem;
                }

                @include mq('md', max){
                    right: 1rem;
                }

                @include mq('xs', max) {
                    top: .6rem;
                    right: .5rem;
                }
            }

            .imagens-carousel {
                position: relative;
                margin-top: 3rem;

                p {
                    position: absolute;
                    background-color: var(--green-100);
                    padding: 1rem;
                    left: 8rem;
                    bottom: 0;
                    width: 193px;
                    text-align: center;

                    margin-bottom: 0;
                    color: var(--white);
                    font-size: 1.5rem;

                    @include mq('xl', max) {
                        padding: 1rem 2rem;
                    }

                    @include mq('md', max) {
                        width: 225px;
                        left: 0;
                    }

                    @include mq('xs', max) {
                        font-size: .9rem;
                        padding: .6rem 1rem;
                        width: 139px;
                        left: 0;
                    }
                }

                .item{
                    img{
                        width: 75%;
                        margin: 0 auto;

                        @include mq('md', max){
                            width: 100%;
                        }
                    }
                }

            }
        }
    }
}