/* 
    MARGIN 
*/

$me: auto;

$ms: auto;


/* 
    SIZES
*/

$total: 100%;




/*
    FONT
*/

@function rem($x){
    @return $x * 2;
};




/*
** SCREEN-SIZES
*/

 $screen-xs : 426px !default;
 $screen-sm : 769px !default;
 $screen-md : 1025px !default;
 $screen-lg : 1200px !default;
 $screen-xl : 1441px !default;
 $screen-xxl : 1920px !default;
 
 /**
  * Breakpoints 
  */
 $breakpoints: (
     'xs': $screen-xs,
     'sm': $screen-sm,
     'md': $screen-md,
     'lg': $screen-lg,
     'xl': $screen-xl,
     'xxl': $screen-xxl
 );
 